@media screen and (width<450px){
    .section {
        width: 90%;
        margin:auto;
    }
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .container {
        width: 100%;
        height: 100vh;
        background-color: #fff;
    }
    .section-header {
        width: 100%;
        height: 75px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .section-search{
        width: 100%;
        position: absolute;
        bottom:20px;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .btn {
        width: 80%;
        background-color: white;
        text-align: center;
        justify-content: center;
        border: none;
        padding: 15px;
        border-radius: 30px;
        /* background: transparent; */
    }
    .section-img{
        position: relative;
    }
    .section-text{
        margin: 15px;

        background-color: green;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        border-radius: 30px;
    }
    .section-footer{
        margin-top: 100px;
        background-color: gray;
        display: flex;
        width: 100%;
        margin: auto;
        justify-content: space-around;
        align-items: center;
    }

}

